.login_form {
    width: 600px;
    height: 370px;
    text-align: center;
}

#modal-content {
    border-radius: 15px;
    box-shadow: 0px 0px 2px 1px rgba(123, 126, 198, 0.3);
}

.login_form h2 {
    padding: 20px;
    font-family: 'Oleo Script Swash Caps', cursive;;
}

.login_form input {
    width: 350px;
    height: 30px;
    border: 1px solid #a1a1aa;
    border-radius: 5px;
    margin-left: 20px;
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
}

.login_form input:focus {
    outline: none;
}

#login_button {
    border: none;
    background-color: #eef0ec;
    color: #4e6058;
    font-family: 'Montserrat', sans-serif;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #4e6058;
    margin-top: 30px;
}

#login_button:hover {
    background-color: #cbd5d0;
    cursor: pointer;
}

ul {
    list-style-type: none;
}